@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Noto+Sans+JP&family=Roboto+Slab&display=swap');

body {
  margin: 0;
  background-image: url("/content/carrots-food-fresh-freshness.jpg");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-content {
  margin: 0 10% 0 10%;
  padding: 10px 3em 10px 3em;
  background-color: rgba(251, 245, 235, 0.79);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  min-height: 1300px;
}

.nav-bar {
  margin: 0 10% 0 10%;
  background-color: rgb(255, 251, 236);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  padding: 1px;
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 1.2em;
}

.nav-bar li {
  display: inline;
  
}

.nav-bar a {
  text-decoration: none;
  padding: 8px 24px 8px 24px;
  background-color: rgb(243, 243, 233);
  border: 1px solid #00000012;
  transition: 0.5s;
  color: #292827;
}

.nav-bar a:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24);
  background-color: rgb(250, 248, 242);
}


.small-text {
  font-family: "Architects Daughter";
  font-size: 20px;
  color: rgb(92, 91, 88);
  margin: 4px;
}

h1 {
  font-family: "Roboto Slab";
}

p {
  font-size: 22px;
  font-family: "Noto Sans JP";
  text-align: justify;
}
